html{
background-color: black;    
}


body{
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    max-width: 900px;
    min-height: 100px;
    max-height: 900px;
    background-color: #3B444B;
    padding: 50px;
}

.images{
text-align: center;    
object-fit: cover;
}

img {
    min-width: 800px;
    min-height: 500px;
    max-width: 500px;
    max-height: 500px;
    width: 100%;
   object-fit: cover;
}

h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    color: #6D7B8D;
}

h2{
    font-family: 'Bungee', cursive;
    font-size: 30px;
    color: #6D7B8D;
}

p{
    font-family: 'Quantico', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #6D7B8D;
}

.barre{
width: 100%;
color: #6D7B8D;
font-size: 25px;
display: flex;
justify-content: space-between; 
}


.option1{
width: 200px;
display: flex;
flex-direction: row;  
border-radius: 5px;
background-color: #343434;
margin-top: 18px;
justify-content: center;
align-items: center;
}

.option1:hover{
    color: crimson;
}

.option2{
width: 200px;
display: flex;
flex-direction: row;      
border-radius: 5px;  
background-color: #343434;
margin-top: 18px;
justify-content: center;
align-items: center;
}

.option2:hover{
    color: crimson;
}

.option3{
width: 200px;
display: flex;
flex-direction: row;    
border-radius: 5px;  
background-color: #343434;
margin-top: 18px;
justify-content: center;
align-items: center;
}

.option3:hover{
    color: crimson;
}

button{
    width: 100%;
    color: #6D7B8D;
    font-size: 25px;
    display: flex;
    justify-content: space-between; 
}